@import (reference) '../../kube/kube.less';

.header {
  display: inline-block;

  padding: 40px 48px 39px 48px;

  width: 100%;

  background-color: #FAFAFA;

  z-index: 50;
  // border-top: 4px solid #333333;
  // border-bottom: 1px solid rgba(0, 0, 0, 0.07);

  &.fixed {
    position: fixed;

    top: 0px;
    left: 0px;
    width: 100%;

    z-index: 10;
  }

  a {
    text-decoration: none;

    color: rgba(1, 1, 1, 1);

    &:hover {
      color: rgba(1, 1, 1, 1);
    }
  }

  ul {
    display: inline-block;

    margin: 0px;
    list-style: none;

    &.right {
      li {
        margin-left: 24px;
        a:hover {
          color: gray;
        }
      }
    }

    li {
      display: inline-block;
    }
  }

  .right {
    float: right;

    text-align: right;
  }

  .tcon {
    height: 24px;

    .tcon-menu__lines, .tcon-menu__lines:before, .tcon-menu__lines:after {
      background-color: white;
    }

    &.tcon-menu--xcross.tcon-transform .tcon-menu__lines {
      background: transparent !important;
    }
  }

  .brand {
    // .bold;
  }

  @media (max-width: @breakpoint-small) {
    ul.open {
      display: block !important;

      float: none;

      margin-top: 10px;

      li {
        display: block;

        margin-left: 0px;
        padding: 4px;
      }
    }
  }
}
